# Environment
venv/
.env
__pycache__/
.ipynb_checkpoints/
.DS_Store

# Data files (all formats)
data/
*.csv
*.txt
*.json
*.model
*.vocab

# Model files (specifically binaries)
legacy_lumos/*.pth
*.pth
*.pth.ckpt
*.bin
*.pt

# Jupyter
.ipynb_checkpoints

# Logs
*.log